<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>新增餐廳</h1>
    <%= form_for(@restaurant) do |f| %>
      <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
      </div>

      <div class="field">
          <%= f.label :tel %>
          <%= f.text_field :tel %>
      </div>

      <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
      </div>

      <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
      </div>

      <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.submit %>
      </div>

    <% end %>

    <!-- <form action="/restaurants_list" method="post">
        <label for="">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
        </label>
        <br>
        <label for="email">1</label>
        <input type="email">
        <br>
        <label for="">2</label>
        <input type="tel">
        <br>
        <label for="">3</label>
        <input type="title" name="abc">
        <br>
        <label for="">4</label>
        <input type="text">
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit">
    </form> -->
</body>
</html>